[class*="zocial-"]:before {
  color: black;
  display: inline-block;
  font-family: 'zocial', sans-serif;
  text-shadow: 3px 3px 3px #aaa;
  width: 2em;
}

/*body*/

.container {
    margin: auto;
    padding: 0 15px 0 15px;
}

* {
    box-sizing: border-box;
}

div {
    display: block;
}

body {
	font-family: 'Lato', sans-serif;
	color: #7473a9;
	font-weight: 300;
	box-sizing: border-box;
}

.text-muted {
	color: #86b2d8;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 60px;
}

.title-logo {
	margin-top: 20px;
}

hr {
    border: none;
    height: 3px;
    /* Set the hr color */
    background-color: #86b2d8; 
}

h4 {
  font-weight: 800;
}

.col-md-12 {
    width: 100%;
    text-align: center;
}

.col-sm-6 {
  width: 33%;
}

.col-md-6 {
  width: 50%;
}

p {
  text-align: center;
}

/*footer*/

#social {
	line-height: 2em;
	text-align: center;
}
#social a {
  margin: 0 1em 0 0;
}
#social a:last-of-type {
  margin: 0;
}
