[class*="zocial-"]:before {
  color: black;
  display: inline-block;
  font-family: 'zocial', sans-serif;
  text-shadow: 3px 3px 3px #aaa;
  width: 2em;
}


/*Header*/

.text-thin {
	font-weight: 100;
}
.title-super {
	font-size: 60px;
}
.title-logo {
	margin-top: 20px;
}

/*End of Header*/

/*Body*/
body {
  font-family: 'Lato', sans-serif;
  color: #747704;
  font-weight: 300;
  margin: 0 10px 0 10px;
}
.text-muted {
  color: #BCBBBB;
}


}
hr {
    border: none;
    height: 5px;
    /* Set the hr color */
    color: #BCBBBB; /* old IE */
    background-color: #BCBBBB; /* Modern Browsers */
}
h4 {
  font-weight: 800;
}
#social {
	line-height: 2em;
	text-align: center;
}
#social a {
  margin: 0 1em 0 0;
}
#social a:last-of-type {
  margin: 0;
}

